visdom==0.2.4
seaborn==0.12.2
albumentations==0.4.6
imgaug==0.4.0
pycocotools==2.0.6
opencv-python==4.7.0.72
tqdm==4.65.0
torchnet==0.0.4
pandas==1.1.5
map-boxes==1.0.5
jupyter==1.0.0
torch==1.12.1+cu113 
torchvision==0.13.1+cu113 
torchaudio==0.12.1 
--extra-index-url https://download.pytorch.org/whl/cu113
mmcv-full==1.6.2 -f https://download.openmmlab.com/mmcv/dist/cu113/torch1.12/index.html
ipykernel
scipy
scikit-learn
matplotlib
numpy
cython
cityscapesscripts
imagecorruptions
six
terminaltables